<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
 <title>Some website</title>   
</head>
<body>
    {{> header}}
    <p>The customer first name is {{firstName}}</p>
        <p>The customer last name is {{lastName}}</p>
        <p>The customer full name is {{fullName}}</p>
        </p>The customer id {{id}}</p>
    
{{> footer}}

</body>
</html>
 